extends layout

block content
  div.container
    h1= title
    table.table.table-striped 
      for person in persons
        tr 
          td=person.id 
          td 
            a(href='/persona/'+person.id) #{person._name}
